@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

$base-color: #9be2e2;
$secondary-color: #484ae2;

body {
  background: #ffffff;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  background: $base-color;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  li {
    display: block;
  }
  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "cabin";
    font-size: 1em;
    color: #000000;
    text-align: center;
    padding: 14px 30px;
    transition: background 0.25s;
    &:hover {
      text-decoration: none;
      color: #ffffff;
      background: $secondary-color;
    }

    .icon {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {
    display: none;
  }
  .navigation a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {
    position: relative;
  }
  .navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.crop {
  width: 100%;
  height: 565px;
  object-fit: cover;
  object-position: top;
}
.textstyle {
  text-align: center;
}
.size {
  font-size: 30px;
}
.butpostion {
  margin-left: 120px;
}
.padding {
  padding: 10px;
}
.background {
  background-color: #9fdfdf5e;
  padding-top: 55px;
  padding-bottom: 55px;
}
.form {
  margin: auto;
  margin-top: 60px;
  width: 60%;
}
.btn-primary {
  color: black;
  background-color: $base-color;
  border: 0px;
}
.btn-outline-primary {
  color: $secondary-color;
  border-color: $secondary-color;
  border-radius: 7px;
}
.btn-outline-primary:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.appBackground {
  margin: auto;
  padding-top: 120px;
  padding-bottom: 90px;
  width: 80%;
  background-color: white;
}

.formtitle {
  margin-bottom: 25px;
}
.apptitle {
  color: $base-color;
}
.listTitle {
  margin-top: 20px;
  font-weight: 500;
}
.list {
  margin-top: -15px;
}
.listpostion {
  margin-left: 200px;
}
.submitposition {
  margin-top: 30px;
}
.card {
  width: 300px;
}
.grid-container {
  display: grid;
  grid-gap: 50px 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.crop2 {
  width: 298px;
  height: 225px;
  object-fit: cover;
  object-position: top;
}
section ul {
  margin: -20px auto 30px auto;
  text-align: center;
  padding: 0;

  li {
    border-radius: 30px;
    display: inline;
    list-style: none;
    padding-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "cabin";
    font-size: 1em;
    color: #000000;
    text-align: center;
    padding: 14px 30px;
    margin-right: 50px;
    transition: background 0.25s;
    cursor: pointer;

    &.active {
      text-decoration: none;
      color: #ffffff;
      background: $secondary-color;
    }
  }
}

.form-control {
  position: relative;
  border: none;
  padding: 0px;
  margin-top: 10px;
}

.form-control label {
  display: inline-block;
}

.form-control input {
  border: 1px solid #b4afaf;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0px;
  border-color: $secondary-color;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 3px #191ba3;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
